<h1>&#128564; Sleep &#128564;</h1>
What time should I go to bed?

<%#= link_to "replace me with a calculator time thing that
  uses the getTime function thing to get current time", welcome_clock_path, :class=>"button" %>

  <form action=welcome/clock>
      <input type="submit" value="TICK TOCK BITCH" />
  </form>

<br>

What time should I wake up if I go to sleep at...

<form action="/sleep_alerts/new">
  <select name="hour">
    <option value="12">12</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>
  <select name="min">
    <option value="00">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
   <select name="mer">
    <option value="am">AM</option>
    <option value="pm">PM</option>
  </select><br>
  <input type="submit" style="font-family": 'Comic Sans MS'>
</form>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
