.header-container-wrapper{}

h1 {
	color: #ff9166;
        font: normal 100px Comic Sans MS, sans-serif;
	text-align: center;
}
body {
        color: #cc3a00;
        font: bold 20px/30px Comic Sans MS, serif;
        background-color:#DDA0DD;
	text-align: center;
}

.button {
	background-color: white;
	padding: 2px;
	text-decoration: none;
}
