.header-container-wrapper{}

h1 {
	color: #E9967A;
        font: normal 80px Comic Sans MS, sans-serif;
	text-align: center;
}
h2 {
	color: #E9967A;
        font: normal 30px Comic Sans MS, sans-serif;
	text-align: center;
}
body {
        color: #6DDDEE;
        font: italic bold 20px/30px Georgia, serif;font-style: italic;
        background-color:#5753CC;
	text-align: center;
}

.button {
	background-color: white;
	padding: 2px;
	text-decoration: none;
}
